<!DOCTYPE html>
<html>
  <head>
    <title>Thespoon269</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>NAVBAR</nav>
    <p>Now is <%= Time.now %><p>


    <%= yield %>
  </body>
</html>
